.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 1444px) {
    width: 1444px;
  }
}
