<section class="section">
    <div class="contacts__container">
        <div class="contacts__wraper">
            <h3 class="contacts__title">ТЕЛЕФОНИ</h3>
            <ul class="phone list">
                <li class="phone__item">
                    <a class="phone__link link" href="tel:+380957384551">+38 (095) -73-84-551</a>
                </li>
                <li class="phone__item">
                    <a class="phone__link link" href="tel:+380980025235">+38 (098) -00-25-235</a>
                </li>
            </ul>
        </div>
        <div class="contacts__wraper">
            <h3 class="contacts__title">Email</h3>
            <ul class="email list">
                <li class="email__item">
                    <a class="email__link link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="contacts__wraper">
            <h3 class="contacts__title">РОБОЧИЙ ЧАС</h3>
            <ul class="hours list">
                <li class="hours__item">
                    <span class="hours__text">Пн-пт: </span>
                    <span class="hours__text">з 8:00 до 19:00</span>
                </li>
                <li class="hours__item">
                    <span class="hours__text">Сб, Нд: </span>
                    <span class="hours__text">з 10:00 до 17:00</span>
                </li>
                </li>
            </ul>
        </div>
        <div class="contacts-bg"></div>
    </div>
</section>