<section class="gallery">
    <div class="gallery__decoration-container container">
        <div class="gallery__decoration-list">
            <div class="gallery__decoration-item"></div>
            <div class="gallery__decoration-item"></div>
            <div class="gallery__decoration-item"></div>
            <div class="gallery__decoration-item"></div>
        </div>
        <div class="gallery__container ">
            <h2 class="gallery__title main-title" id="scroll-to-gallery">Галерея</h2>
            <ul class="gallery__list list">
                <li class="gallery__item">
                    <div class="gallery__picture">
                        <picture>
                            <source
                                srcset="./images/gallery/desktop/gallery-1.jpg 1x, ./images/gallery/desktop/gallery-1.webp 2x"
                                type="image/webp" media="(min-width:1444px)" />
                            <source
                                srcset="./images/gallery/desktop/gallery-1.jpg 1x, ./images/gallery/desktop/gallery-1@2x.jpg 2x"
                                media="(min-width:1444px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-1.webp 1x, ./images/gallery/tablet/gallery-1@2x.webp 2x"
                                type="image/webp" media="(min-width:768px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-1.jpg 1x, ./images/gallery/tablet/gallery-1@2x.jpg 2x"
                                media="(min-width:768px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-1.webp 1x, /images/gallery/mobile/gallery-1@2x.webp 2x"
                                type="image/webp" media="(max-width: 767px)" />
                            <source
                                srcset="./images/gallery/mobile/gallery-1.jpg 1x, /images/gallery/mobile/gallery-1@2x.jpg 2x"
                                media="(max-width:767px)" />
                            <img src="/images/gallery/mobile/gallery-1@2x.jpg" alt="Деталь" width="515" height="188" />
                        </picture>
                    </div>
                    <p class="gallery__text">Інженерні методи аналізу та контролю якості</p>
                </li>
                <li class="gallery__item">
                    <div class="gallery__picture">
                        <picture>
                            <source
                                srcset="./images/gallery/desktop/gallery-2.jpg 1x, ./images/gallery/desktop/gallery-2.webp 2x"
                                type="image/webp" media="(min-width:1444px)" />
                            <source
                                srcset="./images/gallery/desktop/gallery-2.jpg 1x, ./images/gallery/desktop/gallery-2@2x.jpg 2x"
                                media="(min-width:1444px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-2.webp 1x, ./images/gallery/tablet/gallery-2@2x.webp 2x"
                                type="image/webp" media="(min-width:768px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-2.jpg 1x, ./images/gallery/tablet/gallery-2@2x.jpg 2x"
                                media="(min-width:768px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-2.webp 1x, /images/gallery/mobile/gallery-2@2x.webp 2x"
                                type="image/webp" media="(max-width: 767px)" />
                            <source
                                srcset="./images/gallery/mobile/gallery-2.jpg 1x, /images/gallery/mobile/gallery-2@2x.jpg 2x"
                                media="(max-width:767px)" />
                            <img src="/images/gallery/mobile/gallery-2@2x.jpg" alt="Сканер" width="515" height="188" />
                        </picture>
                    </div>
                    <p class="gallery__text common-text">Високоточне 3D сканування</p>
                </li>
                <li class="gallery__item">
                    <div class="gallery__picture">
                        <picture>
                            <source
                                srcset="./images/gallery/desktop/gallery-3.jpg 1x, ./images/gallery/desktop/gallery-3.webp 2x"
                                type="image/webp" media="(min-width:1444px)" />
                            <source
                                srcset="./images/gallery/desktop/gallery-3.jpg 1x, ./images/gallery/desktop/gallery-3@2x.jpg 2x"
                                media="(min-width:1444px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-3.webp 1x, ./images/gallery/tablet/gallery-3@2x.webp 2x"
                                type="image/webp" media="(min-width:768px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-3.jpg 1x, ./images/gallery/tablet/gallery-3@2x.jpg 2x"
                                media="(min-width:768px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-3.webp 1x, /images/gallery/mobile/gallery-3@2x.webp 2x"
                                type="image/webp" media="(max-width: 767px)" />
                            <source
                                srcset="./images/gallery/mobile/gallery-3.jpg 1x, /images/gallery/mobile/gallery-3@2x.jpg 2x"
                                media="(max-width:767px)" />
                            <img src="/images/gallery/mobile/gallery-3@2x.jpg" alt="Деталь" width="515" height="188" />
                        </picture>
                    </div>
                    <p class="gallery__text">Створення точної копії на базі сканування reverse engineering</p>
                </li>
                <li class="gallery__item">
                    <div class="gallery__picture">
                        <picture>
                            <source
                                srcset="./images/gallery/desktop/gallery-4.jpg 1x, ./images/gallery/desktop/gallery-4.webp 2x"
                                type="image/webp" media="(min-width:1444px)" />
                            <source
                                srcset="./images/gallery/desktop/gallery-4.jpg 1x, ./images/gallery/desktop/gallery-4@2x.jpg 2x"
                                media="(min-width:1444px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-4.webp 1x, ./images/gallery/tablet/gallery-4@2x.webp 2x"
                                type="image/webp" media="(min-width:768px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-4.jpg 1x, ./images/gallery/tablet/gallery-4@2x.jpg 2x"
                                media="(min-width:768px)" />
                            <source
                                srcset="./images/gallery/tablet/gallery-4.webp 1x, /images/gallery/mobile/gallery-4@2x.webp 2x"
                                type="image/webp" media="(max-width: 767px)" />
                            <source
                                srcset="./images/gallery/mobile/gallery-4.jpg 1x, /images/gallery/mobile/gallery-4@2x.jpg 2x"
                                media="(max-width:767px)" />
                            <img src="/images/gallery/mobile/gallery-1@2x.jpg" alt="Планшет" width="515" height="188" />
                        </picture>
                    </div>
                    <p class="gallery__text">Всі цикли 3D проектування, створення фотореалістичних цифрових моделей</p>
                </li>

            </ul>
        </div>
    </div>
</section>