<header class="header">
  <div class="header__container container">
    <!-- Logo -->
    <div class="logo-wrapper">
      <a href="./index.html">
        <img src="./images/logo.svg" alt="Логотип" width="101" height="25" class="logo" />
      </a>
    </div>

    <!-- Burger -->
    <button class="burger-button" type="button" data-menu-open>
      <svg class="burger-button__icon" width="32" height="32">
        <use href="./images/symbol-defs.svg#burger-icon"></use>
      </svg>
    </button>

    <!-- Call Button -->
    <div class="header__call-button">
      <button class="call-button" type="button">
        <svg class="call-button__icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#phone-icon"></use>
        </svg>
      </button>
      <div class="call-button__menu">
        <ul class="call-button__list list">
          <li class="call-button__item">
            <a class="call-button__link link" href="tel:+380936432288"> +38 (093) 643 22 88</a>
          </li>
          <li class="call-button__item">
            <a class="call-button__link link" href="tel:+380503454423"> +38 (050) 345 44 23</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Navigation -->
    <nav class="navigation">
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__link link">Головна</a>
        </li>
        <li class="navigation__item navigation__item-arrow">
          <a href="#" class="navigation__link link">Послуги</a>
          <ul class="navigation__menu navigation__menu-bg list">
            <li class="navigation__sub-item">
              <a href="./modeling-page.html" class="navigation__sub-link link">3D Моделювання</a>
            </li>
            <li class="navigation__sub-item">
              <a href="./scanning-page.html" class="navigation__sub-link link">3D Сканування</a>
            </li>
            <li class="navigationn__sub-item">
              <a href="./printing-page.html" class="navigation__sub-link link">3D Друк</a>
            </li>
          </ul>
        </li>
        <li class="navigation__item">
          <a href="./take-order-page.html" class="navigation__link link">Замовити</a>
        </li>
        <li class="navigation__item">
          <a href="./contacts-page.html" class="navigation__link link">Контакти</a>
        </li>
      </ul>
    </nav>

    <!-- Lang Button -->
    <div class="header__lang-button">
      <button class="lang-button">UKR</button>
      <div class="lang-button__menu">
        <ul class="lang-button__list list">
          <li class="lang-button__item">
            <a href="#" class="lang-button__link link" lang="en">UKR</a>
          </li>
          <li class="lang-button__item">
            <a href="#" class="lang-button__link link" lang="en">ENG</a>
          </li>
          <li class="lang-button__item">
            <a href="#" class="lang-button__link link" lang="en">RUS</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Phone list -->
    <div>
      <ul class="phone-list list">
        <li class="phone-list__item">
          <a class="phone-list__link link" href="tel:+380936432288">
            <svg class="phone-list__icon" width="11" height="11">
              <use href="./images/symbol-defs.svg#phone-icon"></use>
            </svg>
            +38 (093) 643 22 88</a
          >
        </li>
        <li class="phone-list__item">
          <a class="phone-list__link link" href="tel:+380503454423">
            <svg class="phone-list__icon" width="11" height="11">
              <use href="./images/symbol-defs.svg#phone-icon"></use>
            </svg>
            +38 (050) 345 44 23</a
          >
        </li>
      </ul>
    </div>
    <include src="./partials/mobile-menu.html"></include>
  </div>
</header>
