<section class="header">
    <div class="container">
        <ul class="list">
            <li class="link"><a href="./index.html">Головна</a></li>
            <li class="link"><a href="./modeling-page.html">3D Моделювання</a></li>
            <li class="link"><a href="./scanning-page.html">3D Сканування</a></li>
            <li class="link"><a href="./printing-page.html">Ми Створюємо</a></li>
            <li class="link"><a href="./take-order-page.html">Зробити Замовлення</a></li>
            <li class="link"><a href="./contacts-page.html">Контакти</a></li>
        </ul>
    </div>
</section>