<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="hero-main">
      <div class="container">
        <h1 class="hero-main__title">Інженерна, конструкторська
та дизайнерська робота</h1>
        <ul class="hero-main__list">
          <li hero-main__item>
            <picture class="hero-main__pic">
              <img class="hero-main__image" src="" alt="" />
            </picture>
          </li>
          <li hero-main__item>
            <picture class="hero-main__pic">
              <img class="hero-main__image" src="" alt="" />
            </picture>
          </li>
          <li hero-main__item>
            <picture class="hero-main__pic">
              <img class="hero-main__image" src="" alt="" />
            </picture>
          </li>
        </ul>
        <h2 class="hero-main__subtitle"></h2>
      </div>
    </section>
  </body>
</html>
