<section class="hero-order section">
    <div class="hero-order__container container">
        <h2 class="hero-order__header">Зробити замовлення</h2>
        <div class="hero-order__img"></div>
        <ul class="hero-order-desription">
            <li class="hero-order-desription__item list">
                <p class="hero-order-desription__text">На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.</p>
            </li>
            <li class="hero-order-desription__item list">
                <p class="hero-order-desription__text">Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі ваші запитання.</p>
            </li>
        </ul>
        <ul class="hero-order-imgs-list">
            <li class="hero-order-imgs-list__item list">
                <div class="hero-order-imgs-list__img1"></div>
            </li>
            <li class="hero-order-imgs-list__item list">
                <div class="hero-order-imgs-list__img2"></div>
            </li>
            <li class="hero-order-imgs-list__item list">
                <div class="hero-order-imgs-list__img3"></div>
            </li>
        </ul>
    </div>
</section>