<section class="methods">

    <h2 class="page-title">Способи створення моделі:</h2>
    <ul class="methods__list">

        <li class="methods__item">3D сканування</li>
        <li class="methods__item">На основі фотографій з доданими розмірами</li>
        <li class="methods__item">За ескізами з розмірами</li>
        <li class="methods__item">За вашим кресленням</li>
        <li class="methods__item">По вже існуючому прототипу шляхом зняття розмірів</li>
    </ul>

    <picture>
    
        <source media="(min-width: 1444px)"
            srcset="../images/modeling/desktop/modeling-1.webp 1x, ../images/modeling/desktop/modeling-1@2x.webp 2x" type="image/webp">
        <source media="(min-width: 1444px)" 
            srcset="../images/modeling/desktop/modeling-1.jpg 1x, ../images/modeling/desktop/modeling-1@2x.jpg 2x">
    
        <source media="(min-width: 768px)"
            srcset="../images/modeling/tablet/modeling-1.webp 1x, ../images/modeling/tablet/modeling-1@2x.webp 2x" type="image/webp">
        <source media="(min-width: 768px)"
            srcset="../images/modeling/tablet/modeling-1.webp 1x, ../images/modeling/tablet/modeling-1@2x.jpg 2x">
    
        <source media="(min-width: 280px)"
            srcset="../images/modeling/mobile/modeling-1.webp 1x, ../images/modeling/mobile/modeling-1@2x.webp 2x" type="image/webp">
        <source media="(min-width: 280px)"
            srcset="../images/modeling/mobile/modeling-1.jpg 1x, ../images/modeling/mobile/modeling-1@2x.jpg 2x">
    
        <img src="#" alt="Двигун" class="methods__img">

    </picture>
</section>