<div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
        <!-- Logo -->
        <div class="mobile-menu__header-wraper">
            <div class="logo-wrapper">
                <a href="./index.html">
                    <img src="./images/logo.svg" alt="Логотип" width="101" height="25" class="logo">
                </a>
            </div>
            
            <button type="button" class="mobile-menu__close-btn" data-menu-close>
                <svg width="20" height="20" class="close-btn__icon">
                    <use href="./images/symbol-defs.svg#close-icon"></use>
                </svg>
            </button>
            
            <!-- Call Button -->
            <div class="header__call-button">
                <button class="call-button" type="button">
                    <svg class="call-button__icon" width="24" height="24">
                        <use href="./images/symbol-defs.svg#phone-icon"></use>
                    </svg>
                </button>
                <div class="call-button__menu">
                    <ul class="call-button__list list">
                        <li class="call-button__item">
                            <a class="call-button__link link" href="tel:+380936432288"> +38 (093) 643 22 88</a>
                        </li>
                        <li class="call-button__item">
                            <a class="call-button__link link" href="tel:+380503454423"> +38 (050) 345 44 23</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Lang Button -->
            <div class="header__lang-button">
                <button class="lang-button">UKR</button>
                <div class="lang-button__menu">
                    <ul class="lang-button__list list">
                        <li class="lang-button__item">
                            <a href="#" class="lang-button__link link" lang="en">ENG</a>
                        </li>
                        <li class="lang-button__item">
                            <a href="#" class="lang-button__link link" lang="en">UKR</a>
                        </li>
                        <li class="lang-button__item">
                            <a href="#" class="lang-button__link link" lang="en">RUS</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <ul class="phone-list list">
                <li class="phone-list__item">
                    <a class="phone-list__link link" href="tel:+380936432288">
                        <svg class="phone-list__icon" width="11" height="11">
                            <use href="./images/symbol-defs.svg#phone-icon"></use>
                        </svg>
                        +38 (093) 643 22 88</a>
                </li>
                <li class="phone-list__item">
                    <a class="phone-list__link link" href="tel:+380503454423">
                        <svg class="phone-list__icon" width="11" height="11">
                            <use href="./images/symbol-defs.svg#phone-icon"></use>
                        </svg>
                        +38 (050) 345 44 23</a>
                </li>
            </ul>
        </div>

        <div class="mobile-menu__nav-wraper">
            <nav class="mobmenu">
                <ul class="mobmenu__list list">
                    <li class="mobmenu__item">
                        <a href="./index.html" class="mobmenu__link link">ГОЛОВНА</a>
                    </li>
                    <li class="mobmenu__item">
                        <a href="#" class="mobmenu__link link">ПОСЛУГИ</a>
                    </li>
                    <li class="mobmenu__item">
                        <a href="./modeling-page.html" class="mobmenu__link sub__link link">3D Моделювання</a>
                    </li>
                    <li class="mobmenu__item">
                        <a href="./scanning-page.html" class="mobmenu__link sub__link link">3D Сканування</a>
                    </li>
                    <li class="mobmenu__item">
                        <a href="./printing-page.html" class="mobmenu__link sub__link link">3D Друк</a>
                    </li>
                    <li class="mobmenu__item">
                        <a href="./take-order-page.html" class="mobmenu__link link">ЗАМОВИТИ</a>
                    </li>
                    <li class="mobmenu__item">
                        <a href="./contacts-page.html" class="mobmenu__link link">КОНТАКТИ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>