        <section class="model-examples">
            <div class="container">
                <h2 class="main-title model-examples__title">МИ СТВОРЮЄМО</h2>
                <ul class="list model-examples__card-set">
                    <li class="item model-examples__item">
                        <div class="model-examples__img">
                            <picture class="">
                
                                <source media="(min-width: 1444px)"
                                    srcset="./images/printing/desktop/printing-page-1.webp 1x, ./images/printing/desktop/printing-page-1@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 1444px)"
                                    srcset="./images/printing/desktop/printing-page-1.jpg 1x, ./images/printing/desktop/printing-page-1@2x.jpg 2x">
                
                                <source media="(min-width: 768px)"
                                    srcset="./images/printing/tablet/printing-page-1.webp 1x, ./images/printing/tablet/printing-page-1@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 768px)"
                                    srcset="./images/printing/tablet/printing-page-1.jpg 1x, ./images/printing/tablet/printing-page-1@2x.jpg 2x">
                
                                <source media="(min-width: 280px)"
                                    srcset="./images/printing/mobile/printing-page-1.webp 1x, ./images/printing/mobile/printing-page-1@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 280px)"
                                    srcset="./images/printing/mobile/printing-page-1.jpg 1x, ./images/printing/mobile/printing-page-1@2x.jpg 2x">
                
                                <img class="img model-examples_img" src="#" alt="Прототип" />
                            </picture>
                        </div>
                        <p class="model-examples_text">ПРОТОТИПИ</p>
                    </li>
                    <li class="item model-examples__item">
                        <div class="model-examples__img">
                            <picture class="">
                
                                <source media="(min-width: 1444px)"
                                    srcset="./images/printing/desktop/printing-page-2.webp 1x, ./images/printing/desktop/printing-page-2@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 1444px)"
                                    srcset="./images/printing/desktop/printing-page-2.jpg 1x, ./images/printing/desktop/printing-page-2@2x.jpg 2x">
                
                                <source media="(min-width: 768px)"
                                    srcset="./images/printing/tablet/printing-page-2.webp 1x, ./images/printing/tablet/printing-page-2@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 768px)"
                                    srcset="./images/printing/tablet/printing-page-2.jpg 1x, ./images/printing/tablet/printing-page-2@2x.jpg 2x">
                
                                <source media="(min-width: 280px)"
                                    srcset="./images/printing/mobile/printing-page-2.webp 1x, ./images/printing/mobile/printing-page-2@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 280px)"
                                    srcset="./images/printing/mobile/printing-page-2.jpg 1x, ./images/printing/mobile/printing-page-2@2x.jpg 2x">
                
                                <img class="img model-examples_img" src="#" alt="МАКЕТИ" />
                            </picture>
                        </div>
                
                        <p class="model-examples_text">МАКЕТИ</p>
                    </li>
                    <li class="item model-examples__item">
                        <div class="model-examples__img">
                            <picture class="">
                
                                <source media="(min-width: 1444px)"
                                    srcset="./images/printing/desktop/printing-page-3.webp 1x, ./images/printing/desktop/printing-page-3@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 1444px)"
                                    srcset="./images/printing/desktop/printing-page-3.jpg 1x, ./images/printing/desktop/printing-page-3@2x.jpg 2x">
                
                                <source media="(min-width: 768px)"
                                    srcset="./images/printing/tablet/printing-page-3.webp 1x, ./images/printing/tablet/printing-page-3@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 768px)"
                                    srcset="./images/printing/tablet/printing-page-3.jpg 1x, ./images/printing/tablet/printing-page-3@2x.jpg 2x">
                
                                <source media="(min-width: 280px)"
                                    srcset="./images/printing/mobile/printing-page-3.webp 1x, ./images/printing/mobile/printing-page-3@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 280px)"
                                    srcset="./images/printing/mobile/printing-page-3.jpg 1x, ./images/printing/mobile/printing-page-3@2x.jpg 2x">
                
                                <img class="img model-examples_img" src="#" alt="ДЕКОР" />
                            </picture>
                        </div>
                
                        <p class="model-examples_text">ДЕКОР</p>
                    </li>
                    <li class="item model-examples__item">
                        <div class="model-examples__img">
                            <picture class="">
                
                                <source media="(min-width: 1444px)"
                                    srcset="./images/printing/desktop/printing-page-4.webp 1x, ./images/printing/desktop/printing-page-4@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 1444px)"
                                    srcset="./images/printing/desktop/printing-page-4.jpg 1x, ./images/printing/desktop/printing-page-4@2x.jpg 2x">
                
                                <source media="(min-width: 768px)"
                                    srcset="./images/printing/tablet/printing-page-4.webp 1x, ./images/printing/tablet/printing-page-4@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 768px)"
                                    srcset="./images/printing/tablet/printing-page-4.jpg 1x, ./images/printing/tablet/printing-page-4@2x.jpg 2x">
                
                                <source media="(min-width: 280px)"
                                    srcset="./images/printing/mobile/printing-page-4.webp 1x, ./images/printing/mobile/printing-page-4@2x.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 280px)"
                                    srcset="./images/printing/mobile/printing-page-4.jpg 1x, ./images/printing/mobile/printing-page-4@2x.jpg 2x">
                
                                <img class="img model-examples_img" src="#" alt="Прототип" />
                            </picture>
                        </div>
                
                        <p class="model-examples_text">КОРПОРАТИВНИЙ ДИЗАЙН</p>
                    </li>
                </ul>
            </div>
            
        </section>
