<section class="order-form section">
    
    <div class="hero-scanning__decoration-list">
        <div class="hero-scanning__decoration-item"></div>
        <div class="hero-scanning__decoration-item"></div>
        <div class="hero-scanning__decoration-item"></div>
        <div class="hero-scanning__decoration-item"></div>
        <div class="hero-scanning__decoration-item"></div>
        <div class="hero-scanning__decoration-item"></div>
    </div>

    <div class="order-form__container container">

        <form class="order-form__part" autocomplete="on">
            <h3 class="order-form__title second-title">Зв’яжіться з нами</h3>

            <div class="order-form__field">
                <label>
                    <input type="text" name="name" class="order-form__input common-text" placeholder="Ім’я">
                </label>
            </div>

            <div class="order-form__field">
                <label>
                    <input type="email" name="mail" class="order-form__input common-text" placeholder="Email">
                </label>
            </div>

            <div class="select">
                <ul class="select__header">
                    <li class="select__item list">
                        <div class="select__option">
                            <p class="select__text">Види пластику</p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="select">
                <ul class="select__header">
                    <li class="select__item list">
                        <div class="select__option">
                            <p class="select__text">Якість друку</p>
                        </div>
                    </li>
                </ul>
                <ul class="select-list">
                    <li class="select-list__item list">
                        <div class="select__option">
                            <p class="select__text">300 мікрон</p>
                        </div>
                    </li>
                    <li class="select-list__item list">
                        <div class="select__option">
                            <p class="select__text">200 мікрон</p>
                        </div>
                    </li>
                    <li class="select-list__item list">
                        <div class="select__option">
                            <p class="select__text">100 мікрон</p>
                        </div>
                    </li>
                    <li class="select-list__item list">
                        <div class="select__option">
                            <p class="common-text">Труднощі у виборі - ми допоможемо</p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="select select-color">
                <ul class="select__header">
                    <li class="select__item list">
                        <div class="select__option">
                            <p class="select__text">Колір</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="order-form__textarea">
                <div>
                    <label for="comment" class="order-form__label common-text">Повідомлення</label>
                </div>
                <div class="textarea-field">
                    <textarea name="comment" id="comment" rows="10" class="textarea-field__textarea common-text"
                        placeholder="Залишіть своє повідомлення"></textarea>
                    <label for="file" class="textarea-field__item">
                        <svg width="21" height="20">
                            <use href="./images/symbol-defs.svg#paper-clip"></use>
                        </svg>
                    </label>
                </div>
                <input type="file" accept=".STL,.Obj,.CAD" name="file" id="file" class="order-form__hide">
                <div>
                    <label for="file" class="textarea-field__file common-text">*Прикріпіть зображення / креслення / STL
                        / Obj / CAD-модель</label>
                </div>
            </div>
            <div class="order-form-button">
                <button class="order-form-button__button" type="submit">Відправити</button>
            </div>        
        </form>
        <div class="order-form-contacts">

            <div class="order-form-contacts__part">
                <include src="./partials/contacts.html"></include>
            </div>

            <div class="contacts-bg">
            
                <ul class="contacts-bg__list">
                    <li class="contacts-bg__item1 list">
                        <div class="contacts-bg__img1"></div>
                    </li>
                    <li class="contacts-bg__item2 list">
                        <div class="contacts-bg__img2"></div>
                    </li>
                    <li class="contacts-bg__item3 list">
                        <div class="contacts-bg__img3"></div>
                    </li>
                </ul>
            
                <ul class="contacts-bg__list">
                    <li class="contacts-bg__item4 list">
                        <div class="contacts-bg__img4"></div>
                    </li>
                    <li class="contacts-bg__item5 list">
                        <div class="contacts-bg__img5"></div>
                    </li>
                    <li class="contacts-bg__item6 list">
                        <div class="contacts-bg__img6"></div>
                    </li>
                </ul>
            
            </div>

        </div>

    </div>
</section>