<section class="order-form section">
    <div class="order-form__container container">
        <form class="" autocomplete="on">     
        <h3 class="order-form__title second-title">Зв’яжіться з нами</h3>
        <div class="order-form__field">
            <label>
                <input type="text" name="name" class="order-form__input common-text" placeholder="Ім’я">
            </label>
            
        </div>
        <div class="order-form__field">
            <label>
                <input type="email" name="mail" class="order-form__input common-text" placeholder="Email">
            </label>
        </div>
        <div class="order-form__field select-field">
            <select name="plastic-types" class="order-form__input select-field__select">
                <option disabled selected hidden>Види пластика</option>
            </select>
        </div>
        <div class="order-form__field select-field">
            <select name="quality" class="order-form__input select-field__select">
                <option disabled selected hidden>Якість друку</option>
                <option value="1" class="select-field__option">300 мікрон</option>
                <option value="2" class="select-field__option">200 мікрон</option>
                <option value="3" class="select-field__option">100 мікрон</option>
                <option value="4" class="select-field__option">Труднощі у виборі - ми допоможемо</option>
            </select>
        </div>
        <div class="order-form__field select-field">
            <select name="color" class="order-form__input select-field__select">
                <option disabled selected hidden>Колір</option>
            </select>
        </div>
        <div class="order-form__textarea">
            <div>
                <label for="comment" class="order-form__label common-text">Повідомлення</label>
            </div>
            <div class="textarea-field">
                <textarea name="comment" id="comment" rows="10" class="textarea-field__textarea common-text"
                    placeholder="Залишіть своє повідомлення"></textarea>
                <label for="file" class="textarea-field__item">
                    <svg width="21" height="20">
                        <use href="./images/symbol-defs.svg#paper-clip"></use>
                    </svg>
                </label>
            </div>
            <input type="file" accept=".STL,.Obj,.CAD" name="file" id="file" class="order-form__hide">
            <div>
                <label for="file" class="textarea-field__file common-text">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</label>
            </div>
        </div>
        <button type="submit">Відправити</button>
        </form> 
    </div>
</section>