<section class="container process-description">
    <h2 class="visually-hidden">Опис процесу</h2>
    <ul class="list">
        <li class="process-description__item">
            <div class="process-description__img-container">
                <picture class="">

                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/desktop/printing-page-5.webp 1x, ./images/printing/desktop/printing-page-5@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/desktop/printing-page-5.jpg 1x, ./images/printing/desktop/printing-page-5@2x.jpg 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/printing/tablet/printing-page-5.webp 1x, ./images/printing/tablet/printing-page-5@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/printing/tablet/printing-page-5.jpg 1x, ./images/printing/tablet/printing-page-5@2x.jpg 2x">

                    <source media="(min-width: 280px)"
                        srcset="./images/printing/mobile/printing-page-5.webp 1x, ./images/printing/mobile/printing-page-5@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 280px)"
                        srcset="./images/printing/mobile/printing-page-5.jpg 1x, ./images/printing/mobile/printing-page-5@2x.jpg 2x">

                    <class="process-description__img" src="#" alt="Прототип" />
                </picture>
            </div>
            <div>
                <ul class="list process-description__text-list">
                    <li class="process-description__text-item">
                        <p><span class="span">3D-друк</span> - ми використовуємо FDM технологію друку. Вона представляє
                            собою пошарове
                            формування об'єкта за допомогою 3D принтера.</p>
                    </li>
                    <li class="process-description__text-item">
                        <p>Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
                            системах автоматизованого
                            проектування.</p>
                    </li>
                    <li class="process-description__text-item">
                        <p>3D-друк - ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування
                            об'єкта за допомогою 3D
                            принтера.</p>
                    </li>
                </ul>
                <button class="btn order-form__button" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
            </div>
        </li>
        <li class="process-description__item">
            <div class="process-description__img-container">
                <picture class="">

                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/desktop/printing-page-6.webp 1x, ./images/printing/desktop/printing-page-6@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/desktop/printing-page-6.jpg 1x, ./images/printing/desktop/printing-page-6@2x.jpg 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/printing/tablet/printing-page-6.webp 1x, ./images/printing/tablet/printing-page-6@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/printing/tablet/printing-page-6.jpg 1x, ./images/printing/tablet/printing-page-6@2x.jpg 2x">

                    <source media="(min-width: 280px)"
                        srcset="./images/printing/mobile/printing-page-6.webp 1x, ./images/printing/mobile/printing-page-6@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 280px)"
                        srcset="./images/printing/mobile/printing-page-6.jpg 1x, ./images/printing/mobile/printing-page-6@2x.jpg 2x">

                    <class="process-description__img" src="#" alt="Прототип" />
                </picture>

            </div>
            <div>
                <ul class="list process-description__text-list">
                    <li class="process-description__text-item">
                        <p><span class="span">3D-моделювання</span> - це процес розробки математичного уявлення
                            будь-якої поверхні об'єкта в
                            трьох вимірах за допомогою спеціалізованого програмного забезпечення.</p>
                    </li>
                    <li class="process-description__text-item">
                        <p>Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
                    </li>
                    <li class="process-description__text-item">
                        <p>Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші
                            потреби.</p>
                    </li>
                </ul>
                <button class="btn order-form__button" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
            </div>
        </li>
        <li class="process-description__item">
            <div class="process-description__img-container">
                <picture class="">

                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/desktop/printing-page-7.webp 1x, ./images/printing/desktop/printing-page-7@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/printing/desktop/printing-page-7.jpg 1x, ./images/printing/desktop/printing-page-7@2x.jpg 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/printing/tablet/printing-page-7.webp 1x, ./images/printing/tablet/printing-page-7@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/printing/tablet/printing-page-7.jpg 1x, ./images/printing/tablet/printing-page-7@2x.jpg 2x">

                    <source media="(min-width: 280px)"
                        srcset="./images/printing/mobile/printing-page-7.webp 1x, ./images/printing/mobile/printing-page-7@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 280px)"
                        srcset="./images/printing/mobile/printing-page-7.jpg 1x, ./images/printing/mobile/printing-page-7@2x.jpg 2x">

                    <class="process-description__img" src="#" alt="Прототип" />
                </picture>

            </div>
            <div>
                <ul class="list process-description__text-list">
                    <li class="process-description__text-item">
                        <p><span class="span">3D-сканування</span> - зняття даних, шляхом аналізу форми предмета і на
                            основі отриманих даних
                            створення її 3D-моделі.</p>
                    </li>
                    <li class="process-description__text-item">
                        <p>Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації в
                            цифровому вигляді, так і
                            3D-модель для подальшого її друку на 3D-принтері.</p>
                    </li>
                </ul>
                <button class="btn order-form__button" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
            </div>
        </li>
    </ul>
</section>
