<section class="scan-process">
    <div class="scan-process__container container">
        <h3 class="scan-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h3>
        <ul class="scan-process__list list">
            <li class="scan-process__item">
                <div class="scan-process__img scan-process__img-one"></div>
                 <div class="scan-process__text">
                     <h3 class="scan-process__description">Підготовка деталі до сканування</h3></div></li>
            <li class="scan-process__item">
                <div class="scan-process__img scan-process__img-two"></div>
                <div class="scan-process__text"> 
                    <h3 class="scan-process__description">Створення сканів і їх обробка</h3></div>
               </li>
            <li class="scan-process__item">
                <div class="scan-process__img scan-process__img-three"></div>
                <div class="scan-process__text">
                    <h3 class="scan-process__description">Перетворення reverse engineering</h3></div>
                </li>
            <li class="scan-process__item">
                <div class="scan-process__img scan-process__img-four"></div>
                <div class="scan-process__text">
                    <h3 class="scan-process__description">Підготовка моделі до друку</h3></div>
                </li>
        </ul>
    </div>
</section>