<section class="we-create-model section">
    <div class="container">
        <h3 class="title">Ми створюємо фотореалістичні зображення моделей</h3>
        <ul class="we-create-model__list list">
            <li class="we-create-model__item">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/modeling/desktop/modeling-2.webp 1x, ./images/modeling/desktop/modeling-2@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/modeling/desktop/modeling-2.jpg 1x, ./images/modeling/desktop/modeling-2@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/modeling/tablet/modeling-2.webp 1x, ./images/modeling/tablet/modeling-2@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/modeling/tablet/modeling-2.jpg 1x, ./images/modeling/tablet/modeling-2@2x.jpg 2x">
                    <source media="(max-width: 767px)"
                        srcset="./images/modeling/mobile/modeling-2.webp 1x, ./images/modeling/mobile/modeling-2@2x.webp 2x"
                        type="image/webp">
                    <source media="(max-width: 767px)"
                        srcset="./images/modeling/mobile/modeling-2.jpg 1x, ./images/modeling/mobile/modeling-2@2x.jpg 2x">
                    <img src="#" alt="Модель-2">
                </picture>
            </li>
            <li class="we-create-model__item">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/modeling/desktop/modeling-3.webp 1x, ./images/modeling/desktop/modeling-3@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/modeling/desktop/modeling-3.jpg 1x, ./images/modeling/desktop/modeling-3@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/modeling/tablet/modeling-3.webp 1x, ./images/modeling/tablet/modeling-3@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/modeling/tablet/modeling-3.jpg 1x, ./images/modeling/tablet/modeling-3@2x.jpg 2x">
                    <source media="(max-width: 767px)"
                        srcset="./images/modeling/mobile/modeling-3.webp 1x, ./images/modeling/mobile/modeling-3@2x.webp 2x"
                        type="image/webp">
                    <source media="(max-width: 767px)"
                        srcset="./images/modeling/mobile/modeling-3.jpg 1x, ./images/modeling/mobile/modeling-3@2x.jpg 2x">
                    <img src="#" alt="Модель-3">
                </picture>
            </li>
            <li class="we-create-model__item">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/modeling/desktop/modeling-4.webp 1x, ./images/modeling/desktop/modeling-4@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/modeling/desktop/modeling-4.jpg 1x, ./images/modeling/desktop/modeling-4@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/modeling/tablet/modeling-4.webp 1x, ./images/modeling/tablet/modeling-4@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/modeling/tablet/modeling-4.jpg 1x, ./images/modeling/tablet/modeling-4@2x.jpg 2x">
                    <source media="(max-width: 767px)"
                        srcset="./images/modeling/mobile/modeling-4.webp 1x, ./images/modeling/mobile/modeling-4@2x.webp 2x"
                        type="image/webp">
                    <source media="(max-width: 767px)"
                        srcset="./images/modeling/mobile/modeling-4.jpg 1x, ./images/modeling/mobile/modeling-4@2x.jpg 2x">
                    <img src="#" alt="Модель-4">
                </picture>
            </li>
            <li class="we-create-model__item">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/modeling/desktop/modeling-5.webp 1x, ./images/modeling/desktop/modeling-5@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/modeling/desktop/modeling-5.jpg 1x, ./images/modeling/desktop/modeling-5@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/modeling/tablet/modeling-5.webp 1x, ./images/modeling/tablet/modeling-5@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/modeling/tablet/modeling-5.jpg 1x, ./images/modeling/tablet/modeling-5@2x.jpg 2x">
                    <source media="(max-width: 767px)"
                        srcset="./images/modeling/mobile/modeling-5.webp 1x, ./images/modeling/mobile/modeling-5@2x.webp 2x"
                        type="image/webp">
                    <source media="(max-width: 767px)"
                        srcset="./images/modeling/mobile/modeling-5.jpg 1x, ./images/modeling/mobile/modeling-5@2x.jpg 2x">
                    <img src="#" alt="Модель-5">
                </picture>
            </li>
        </ul>
        <button class="order-form__button" type="button">Зробити замовлення</button>
    </div>
</section>