.contacts {
  .contacts__container {
  }
  .contacts__wraper {
  }
}

.title {
  margin-bottom: 8px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #487996;
}
.phone {
}
.phone__item {
}
.phone__link {
}
.link {
}
.email {
}
.email__item {
}
.email__link {
}
.hours {
  margin-top: 8px;
}
.hours__item {
}
.section {
}
