.decorative {
  position: relative;
}

.header__decorative:nth-child(1) {
  content: '';
  display: block;
  position: absolute;
  background: var(--white);
  z-index: -1;
  width: 73.65px;
  height: 73.65px;
  right: -55px;
  top: -43px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 35px 0px 0px 35px;
  transform: rotate(180deg);

  @media screen and (min-width: 768px) {
    left: 158px;
  }

  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    left: 210px;
    top: -35px;
    border-radius: 72px 0px 0px 72px;
  }
}

.header__decorative:nth-child(2) {
  content: '';
  display: block;
  position: absolute;
  background: var(--white);
  z-index: -1;
  width: 73.65px;
  height: 73.65px;
  right: -309px;
  top: -43px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 35px 0px 0px 35px;

  @media screen and (min-width: 768px) {
    right: -493px;
  }

  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    top: -32px;
    right: -1168px;
    border-radius: 72px 0px 0px 72px;
  }
}

.header {
  position: relative;
  padding: 29px 0 30px;

  @media screen and (min-width: 768px) {
    padding: 20px 0 30px;
  }

  @media screen and (min-width: 1444px) {
    padding: 40px 0 65px;
  }

  &__container {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1444px) {
      align-items: flex-start;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.logo-wrapper {
  margin-right: 23px;

  @media screen and (min-width: 768px) {
    margin-right: 170px;
  }

  @media screen and (min-width: 1444px) {
    margin-right: 213px;
  }
}

// burger-btn

.burger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;

  @media screen and (min-width: 1440px) {
    & {
      display: none;
    }
  }
}

.burger-button__icon {
  fill: var(--blue);
  transition: fill var(--animation);
}

.burger-button:focus .burger-btn__icon,
.burger-button:hover .burger-btn__icon {
  fill: var(--color-acsent);
}

/* Call Button */

.call-button,
.lang-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.call-button {
  margin-right: 20px;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__call-button {
  position: relative;
}

.call-button__menu {
  display: none;
  position: absolute;
  top: 35px;
  left: 12px;
  transform: translate(-50%);
  width: 162px;
  padding: 16px 0;
  border-radius: 2px;
  text-align: center;
  background-color: var(--white);
  box-shadow: var(--shadow);
  z-index: 100;
}

.call-button__menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -26px;
  left: 70px;
  border: 14px solid transparent;
  border-bottom: 18px solid #fff;
  border-radius: 2px;
  width: 0;
  height: 0;
  z-index: 101;
}

.call-button:hover + .call-button__menu,
.call-button:focus + .call-button__menu {
  display: block;
}

.call-button__item:not(:last-child) {
  margin-bottom: 10px;
}

.call-button__link {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--black);
  transition: var(--animation);
}

/* Navigation */

.navigation {
  &__list {
    display: none;
    position: relative;

    @media screen and (min-width: 1444px) {
      display: flex;
      text-align: center;
    }
  }

  &__item {
    position: relative;
    z-index: 100;
    &:not(:last-child) {
      margin-right: 54px;
    }
  }

  &__link {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--black);
    transition: var(--animation);

    &:hover,
    &:focus {
      color: var(--bright-blue);
    }
  }
}

.navigation__link-arrow::after {
  display: block;
  content: '';
  position: absolute;
  background-image: url(./../images/arrow-header-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 4px;
  top: 10px;
  left: 70px;

  .navigation__item:hover &,
  .navigation__item:focus & {
    background-image: url(./../images/arrow-header-up.svg);
  }
}

.navigation__menu {
  display: none;

  position: absolute;
  left: -31px;
  width: 144px;

  .navigation__item:hover &,
  .navigation__item:focus-within & {
    display: flex;
    flex-direction: column;
  }
}

.navigation__menu::after {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--white);
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  width: 144px;
  height: 111px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: -25px;

  z-index: -1;
}

.navigation__sub-item {
  display: block;

  &:nth-child(1) {
    margin-top: 8px;
  }
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.navigation__sub-link {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: var(--black);
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--bright-blue);
  }
}

/* Lang Button */

.header__lang-button {
  position: relative;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-left: auto;
  }

  @media screen and (min-width: 1444px) {
    margin-right: 150px;
  }
}

.lang-button {
  cursor: pointer;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.01em;
  color: var(--lang-btn);
  transition: var(--animation);
  padding: 0;

  &:hover,
  &:focus {
    color: var(--bright-blue);
  }
}

.lang-button__menu {
  position: absolute;
  top: 32px;
  left: 14px;
  transform: translate(-50%);
  width: 80px;
  padding: 16px 0;
  border-radius: 2px;
  text-align: center;
  background-color: var(--white);
  box-shadow: var(--shadow);
  display: none;
  z-index: 100;
  pointer-events: none;
}

.lang-button__menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -26px;
  left: 27px;
  border: 14px solid transparent;
  border-bottom: 18px solid #ffffff;
  border-radius: 2px;
  width: 0;
  height: 0;
  z-index: 101;
}

.lang-button:hover + .lang-button__menu,
.lang-button:focus + .lang-button__menu {
  display: block;
}

.lang-button__item:not(:last-child) {
  margin-bottom: 10px;
}

.lang-button__link {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--black);
  pointer-events: auto;
  transition: var(--animation);

  &:hover,
  &:focus {
    color: var(--bright-blue);
  }
}

/* Phone List */

.phone-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  &__link {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: var(--black);
    transition: var(--animation);

    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: var(--bright-blue);
    }
  }

  &__icon {
    margin-right: 5px;
  }
}
