.header {
  padding: 29px 0 32px;

  @media screen and (min-width: 768px) {
    padding: 20px 0 35px;
  }

  @media screen and (min-width: 1444px) {
    padding: 40px 0 24px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  margin-right: 23px;
}

/* Call Button */

.call-button,
.lang-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.call-button {
  margin-right: 20px;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__call-button {
}

.call-button__icon {
}

.call-button__menu {
}

.call-button__list {
  display: none;
}

.call-button__item {
}

.call-button__link {
}

/* Navigation */

.navigation {
}

.navigation__list {
  display: none;

  @media screen and (min-width: 1444px) {
    display: flex;
    text-align: center;
  }
}

.navigation__item {
}

.navigation__link {
}

.navigation__menu {
}

.navigation__sub-item {
}

.navigation__sub-link {
}

.navigationn__sub-item {
}

/* Lang Button */

.header__lang-button {
}

.lang-button {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.01em;
  color: var(--lang-btn);
}

.lang-button__menu {
  display: none;
}

.lang-button__list {
}

.lang-button__item {
}

.lang-button__link {
}

/* Phone List */

.phone-list {
  display: none;
}

.phone-list__item {
}

.phone-list__link {
}

.phone-list__icon {
}
