.hero-scanning {
  padding-top: 32px;
 
  &__container {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    
  }
 
  &__list {
    list-style: none;
  }
 
  &__title {
    text-decoration: none;
    margin-bottom: 16px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
 
    color: var(--blue);
  }
 
  &__item {
    width: 280px;
 
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
 
    color: var(--black);
 
    &:nth-child(-n + 2) {
      margin-bottom: 16px;
    }
 
    &:last-child {
      margin-bottom: 24px;
    }
  }
 
  &__bg {
    width: 280px;
    height: 200px;
    background-color: #fff;
    background-image: url(../images/scan/mobile/scan-hero-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
 
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-scanning__bg {
    background-image: url(../images/scan/mobile/scan-hero-1@2x.jpg);
  }
}
 
.hero-scanning__decoration-item {
  position: absolute;
  box-shadow: var(--shadow);
  width: 74px;
  height: 74px;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
  }
  &:nth-child(1) {
    border-radius: 0px 0px 35px 0px;
    left: 1px;
    top: 303px;
    @media screen and (min-width: 768px) {
      top: 300px;
      left: 37px;
      transform: rotate(180deg);
    }
    @media screen and (min-width: 1444px) {
      left: 38px;
      top: 258px;
      transform: rotate(360deg);
      border-radius: 0px 0px 72px 0px;
    }
  }
  &:nth-child(2) {
    border-radius: 72px;
    right: 1px;
    top: 589px;
    @media screen and (min-width: 768px) {
      right: 1px;
      top: 151px;
    }
    @media screen and (min-width: 1444px) {
      right: 13px;
      top: 159px;
      border-radius: 0px 0px 72px 0px;
      transform: rotate(90deg);
    }
  }
  &:nth-child(3) {
    border-radius: 25px 0px;
    left: 0;
    top: 957px;
    @media screen and (min-width: 768px) {
      border-radius: 0px 0px 0px 0px;
      box-shadow: 0px 0px 0px rgba(250, 250, 250, 250);      
    }
    @media screen and (min-width: 1444px) {
      left: -64px;
      top: 1077px;
      border-radius: 72px;
      box-shadow: var(--shadow);

    }
  }
  &:nth-child(4) {
    border-radius: 0px 25px;
    right: 1px;
    top: 1033px;
    @media screen and (min-width: 768px) {
      border-radius: 0px 0px 0px 0px;
      box-shadow: 0px 0px 0px rgba(250, 250, 250, 250);
    }
    @media screen and (min-width: 1444px) {
      top: 667px;
      right: 0px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 72px 0px;
    }
  }
 
  &:nth-child(5) {
    border-radius: 0px 0px 0px 35px;
    left: 1px;
    top: 1070px;
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1444px) {
      top: 210px;
      right: -155px;
    }
  }

  &:nth-child(6) {
    border-radius: 25px 0px;
    right: 1px;
    top: 1360px;
    z-index: -1;
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1444px) {
      top: 210px;
      right: -155px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-scanning {
    &__container {
      position: relative;
      padding-top: 35px;
      padding-left: 60px;
      padding-right: 60px;
    }
 
    &__title {
      font-size: 36px;
    }
 
    &__item {
      width: 515px;
 
      &:last-child {
        margin-bottom: 0;
      }
    }
 
    &__bg {
      position: absolute;
      width: 241px;
      height: 172px;
      bottom: 0px;
      right: 0px;
      background-color: var(--white);
      background-image: url(../images/scan/mobile/scan-hero-1.jpg);
      z-index: -1;
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-scanning__bg {
    background-image: url(../images/scan/tablet/scan-hero-1@2x.jpg);
  }
}
 
@media screen and (min-width: 1444px) {
  .hero-scanning {
    &__container {
      position: relative;
      padding: 24px 189px 100px 189px;
    }
 
    &__title {
      font-size: 48px;
    }
 
    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
 
    &__item {
      width: 515px;
      font-size: 18px;
      line-height: 1.27;
      columns: 515px, 2;
 
      &-wrap {
        position: absolute;
        top: 100px;
        right: 189px;
      }
      &:nth(:last-child) {
        margin-bottom: 24px;
      }
    }
 
    &__bg {
      position: absolute;
      width: 515px;
      height: 368px;
      top: 140px;
      right: 189px;
      background-image: url(../images/scan/mobile/scan-hero-1.jpg);
      z-index: -1;
    }
  }
}
 
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px),
  screen and (min-resolution: 192dpi) and (min-width: 71444px),
  screen and (min-resolution: 2dppx) and (min-width: 1444px) {
  .hero-scanning__bg {
    background-image: url(../images/scan/desktop/scan-hero-1@2x.jpg);
  }
}
