.hero-modeling {
  padding-top: 32px;

  &__title {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 1.25;
    color: var(--blue);
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    color: var(--black);
  }

  &__thumb &__text:not(:last-child) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1443px) {
    &__thumb {
      margin-right: auto;
      width: 515px;
    }
  }

  @media screen and (min-width: 1444px) {
    & {
      padding-top: 85px;
    }

    &__thumb {
      display: flex;
    }

    &__text {
      width: calc((100%-32px) / 2);
    }

    &__thumb &__text:not(:last-child) {
      margin-right: 32px;
    }
  }
}
