.hero-scanning{
    padding-top: 32px; 
 
    &__container{
        position: relative;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;   

    }
 
    &__list{
        list-style: none;
    }
 
    &__title{
        position: relative;
        text-decoration: none;
        margin-bottom: 16px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.25;
 
        color: var(--blue);


    }
 
    &__item{
        width: 280px;
 
        font-family: var(--main-font);
        font-weight: 300;
        font-size: 16px;
        line-height: 1.25;
        text-decoration: none;
 
        color: var(--black);
 
        &:not(:last-child){
            margin-bottom: 16px;
        }
 
        &:last-child{
            margin-bottom: 24px;
        }
 
    }
 
    &__bg{
        width: 280px;
        height: 200px;
        background-color: var(--white);
        background-image: url(../images/scan/mobile/scan-hero-1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}
 

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (min-resolution: 192dpi) and (min-width:320px),
screen and (min-resolution: 2dppx) and (min-width:320px) {
    .hero-scanning__bg{
        background-image:url(../images/scan/mobile/scan-hero-1@2x.jpg);
    }
}
 
@media screen and (min-width:768px){
    .hero-scanning{
        &__container{
            position: relative;   
            padding-top: 35px; ;
            padding-left: 60px;
            padding-right: 60px;               
        }
 
        &__title{
            font-size: 36px;
        }
 
        &__item{
 
            width: 515px;
 
 
            &:last-child{
                margin-bottom: 0;
            }
        }
 
        &__bg{
            position: absolute;
            width: 241px;
            height: 172px;
            bottom: 0px;
            right: 0px;
            background-color: var(--white);
            background-image: url(../images/scan/tablet/scan-hero-1.jpg);
            z-index: -1;
        }
 
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .hero-scanning__bg{
        background-image:url(../images/scan/tablet/scan-hero-1@2x.jpg);
    }
}
    
@media screen and (min-width:1444px){
    .hero-scanning{
        &__container{
            position: relative;
            padding: 24px 189px 100px 189px;
        }
 
        &__title{
            font-size: 48px;
        }
 
        &__list{          
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
        }
 
        &__item{                 
            width: 515px;
            font-size: 18px;
            line-height:1.27;
            columns: 515px, 2;
                    
            &-wrap{
                position: absolute;
                top: 100px;
                right: 189px;
            }
            &:nth(:last-child){
                margin-bottom: 24px;
            }      
        }
 
        &__bg{
            position: absolute;
            width: 515px;
            height: 368px;
            top:140px;
            right: 189px;
            background-image: url(../images/scan/desktop/scan-hero-1.jpg);
            z-index: -1;
        }
 
    }
}
 
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px),
screen and (min-resolution: 192dpi) and (min-width:71444px),
screen and (min-resolution: 2dppx) and (min-width:1444px) {
    .hero-scanning__bg{
        background-image:url(../images/scan/desktop/scan-hero-1@2x.jpg);
    }
}

