.hero-scanning{

    &__container{
        margin: auto;
        padding: 32px 20px 247px 20px;
        
        // display: inline-block;
        background-color: #fff;
        background-image: url(../images/scan/mobile/scan-hero-1.jpg);
        background-size: 280px;
        background-repeat: no-repeat;
        background-position: bottom;

    }

    &__title{
        text-decoration: none;
        margin-bottom: 16px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.25;

        color: var(--blue);
    }

    &__item{
        width: 280px;

        font-family: var(--main-font);
        font-weight: 300;
        font-size: 16px;
        line-height: 1.25;
        text-decoration: none;

        color: var(--black);

        &:not(:last-child){
            margin-bottom: 16px;
        }

        &:last-child{
            margin-bottom: 24px;
        }

    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (min-resolution: 192dpi) and (min-width:320px),
screen and (min-resolution: 2dppx) and (min-width:320px) {
    .hero-scanning__container{
        background-image:url(../images/scan/mobile/scan-hero-1@2x.jpg);
    }
}

@media screen and (min-width:768px){
    .hero-scanning{
        &__container{
            position: relative;
            padding: 35px 60px 52px 60px;

            background-size: 241px;
            background-position: bottom 52px right 0px;
        }

        &__title{
            font-size: 36px;
        }

        &__item{
            width: 515px;
        
            &:last-child{
                margin-bottom: 0;
            }
        }

    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .hero-scanning__container{
        background-image:url(../images/scan/tablet/Scan-hero-1@2x.jpg);
    }
}
    
@media screen and (min-width:1444px){
    .hero-scanning{
        &__container{
            position: relative;
            padding: 24px 189px 100px 189px;

            background-size: 515px;
            background-position: bottom 0px right 189px;
        }

        &__title{
            font-size: 48px;
        }

        &__list{
            columns:  auto;

            // display: flex;
            // flex-wrap: wrap;
            // column-count: 2;
            // column-gap:32px;
            // column-width: 515px;
            // list-style-position: inside;

        }

        &__item{

            width: 515px;
            font-size: 18px;
            line-height:1.27;

            &:not(:last-child){
                margin-bottom: 24px;
            }
        
        }

    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px),
screen and (min-resolution: 192dpi) and (min-width:71444px),
screen and (min-resolution: 2dppx) and (min-width:1444px) {
    .hero-scanning__container{
        background-image:url(../images/scan/desktop/scan-hero-1@2x.jpg);
    }
}