.hero-main {
}
.hero-main__title {
  font-weight: 400;

  font-style: normal;
  font-size: 18px;
  line-height: 1.1;
}
.hero-main__list {
}
.hero-main__pic {
}
.hero-main__image {
}
.hero-main__subtitle {
}
