.order-form__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1444px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.order-form__part {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1444px) {
    align-items: flex-start;
  }
}

.order-form__title {
  margin-bottom: 30px;
}

.order-form__field {
  margin-bottom: 38px;
}

.order-form__input {
  width: 100%;

  padding: 8px 2px;

  outline: none;
  border: none;
  border-bottom: 1px solid var(--blue);
  transition: border-bottom var(--animation);

  &:focus {
    border-bottom: 1px solid #a4bccb;
  }

  &::placeholder {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
  }

  @media screen and (min-width: 768px) {
    width: 420px;
  }

  @media screen and (min-width: 1444px) {
    width: 515px;
  }
}

.select-field {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);

    display: block;
    width: 19px;
    height: 13px;

    pointer-events: none;

    background: url(../images/form-down-arrow.svg) center no-repeat;
  }

  &:hover::after {
    transform: rotate(180deg);
  }
}

.select-field__select {
  appearance: none;
}

.select {
  z-index: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;
  margin-bottom: 38px;

  @media screen and (min-width: 768px) {
    width: 420px;
  }

  @media screen and (min-width: 1444px) {
    width: 515px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);

    display: block;
    width: 19px;
    height: 13px;

    pointer-events: none;

    background: url(../images/form-down-arrow.svg) center no-repeat;
  }

  &:hover::after {
    transform: rotate(180deg);
  }
}

.select.is-active .select__body {
  display: block;
}

.select__header {
  padding: 8px 2px;
  border-bottom: 1px solid var(--blue);
  transition: border-bottom var(--animation);

  cursor: pointer;

  &:focus,
  &:hover {
    border-bottom: 1px solid #a4bccb;
  }
}

.select__current {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
}

.select__body {
  background-color: var(--white);
  border-bottom: 1px solid var(--blue);
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

.select__item {
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);

  padding: 8px;

  &:hover {
    color: #ffff;
    background-color: #a4bccb;
  }
}

.order-form__textarea {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1444px) {
    margin-bottom: 24px;
  }
}

.textarea-field__textarea {
  resize: none;
  outline: none;

  width: 100%;
  height: 199px;

  margin-top: 8px;

  padding-top: 22px;
  padding-left: 20px;

  border: 1px solid var(--blue);
  border-radius: 50px 0px;

  transition: border var(--animation);

  &:focus {
    border: 1px solid #a4bccb;
  }

  &::placeholder {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
  }

  @media screen and (min-width: 768px) {
    width: 420px;
  }

  @media screen and (min-width: 1444px) {
    width: 515px;
  }
}

.order-form__hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.textarea-field {
  position: relative;
}

.textarea-field__item {
  position: absolute;
  bottom: 18px;
  right: 21px;
  cursor: pointer;
}

.textarea-field__file {
  cursor: pointer;
}

.contacts-form__button {
  margin: 0 auto;
  width: 280px;
  height: 56px;
  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  outline: none;
  border: transparent;
  transition: background var(--animation), color var(--animation);

  &:focus,
  &:hover {
    background: var(--bright-blue);
    color: var(--white);
  }
}

@media screen and (min-width: 768px) {
  .contacts-form__button-wraper {
    width: 420px;
    display: flex;
    justify-content: flex-end;
  }
  .contacts-form__button {
    width: 177px;
  }
}
@media screen and (min-width: 1444px) {
  .contacts-form__button-wraper {
    width: 515px;
  }
}
