.order-form__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1444px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.order-form__part {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1444px) {
    align-items: flex-start;
  }
}

.order-form__title {
  margin-bottom: 30px;
}

.order-form__field {
  margin-bottom: 38px;
}

.order-form__input {
  width: 100%;

  padding: 8px 2px;

  outline: none;
  border: none;
  border-bottom: 1px solid var(--blue);
  transition: border-bottom var(--animation);

  &:focus {
    border-bottom: 1px solid #a4bccb;
  }

  &::placeholder {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
  }

  @media screen and (min-width: 768px) {
    width: 420px;
  }

  @media screen and (min-width: 1444px) {
    width: 515px;
  }
}

.select {
  z-index: 2;
  width: 100%;
  position: relative;
  user-select: none;
  border-bottom: 1px solid var(--blue);
  margin-bottom: 38px;

  transition: border-bottom var(--animation);

  &:focus,
  &:hover {
    border-bottom: 1px solid #a4bccb;
  }

  @media screen and (min-width: 768px) {
    width: 420px;
  }

  @media screen and (min-width: 1444px) {
    width: 515px;
  }
}

.select-color {
  z-index: 1;
}

.select__header {
  background: #fff;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);

    width: 19px;
    height: 13px;

    display: block;
    background-image: url(../images/form-down-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;

    transition: transform var(--animation);
  }
}

.select__item {
  padding: 8px 2px;
}

.select__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  @media screen and (min-width: 1444px) {
    font-size: 18px;
    line-height: 23px;
  }
}

.select-list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
  border-bottom: 1px solid var(--blue);
}

.select-list__item {
  padding: 8px;
  cursor: pointer;
  color: var(--black);

  &:hover {
    color: #fff;
    background: #a4bccb;
  }
}

.select.active .select-list {
  display: block;
}

.select.active .select__header:before {
  transform: rotate(180deg);
}

.order-form__textarea {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1444px) {
    margin-bottom: 24px;
  }
}

.textarea-field__textarea {
  resize: none;
  outline: none;

  width: 100%;
  height: 199px;

  margin-top: 8px;

  padding-top: 22px;
  padding-left: 20px;

  border: 1px solid var(--blue);
  border-radius: 50px 0px;

  transition: border var(--animation);

  &:focus {
    border: 1px solid #a4bccb;
  }

  &::placeholder {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
  }

  @media screen and (min-width: 768px) {
    width: 420px;
  }

  @media screen and (min-width: 1444px) {
    width: 515px;
  }
}

.order-form__hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.textarea-field {
  position: relative;
}

.textarea-field__item {
  position: absolute;
  bottom: 18px;
  right: 21px;
  cursor: pointer;
}

.textarea-field__file {
  cursor: pointer;
}

.order-form-button {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1443px) {
    margin-bottom: 52px;
  }

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    width: 420px;
  }

  @media screen and (min-width: 1444px) {
    width: 515px;
  }
}

.order-form-button__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #487996;
  transition: color var(--animation);
  width: 280px;
  height: 56px;
  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  outline: none;
  border: transparent;
  transition: background var(--animation), color var(--animation);

  &:focus,
  &:hover {
    background: var(--bright-blue);
    color: var(--white);
  }

  @media screen and (min-width: 768px) {
    width: 177px;
  }
}

.order-form-contacts {
  @media screen and (min-width: 1444px) {
    text-align: end;
  }
}

.order-form-contacts__part {
  margin-bottom: 50px;
}

.contacts-bg__list {
  display: flex;

  @media screen and (max-width: 1443px) {
    display: none;
  }
}

.contacts-bg__item {
  &1 {
    margin: 0 12px 12px 0;
  }

  &2 {
    margin: 12px 12px 0 0;
  }

  &4 {
    margin-right: 5px;
  }

  &5 {
    margin: 5px 5px 0 0;
  }
}

.contacts-bg__img {
  &1 {
    width: 144px;
    height: 144px;
    background-color: var(--blue);
    border-radius: 0px 72px 0px 0px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
    background-image: url(../images/order/desktop/order-page-5-1.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/order/desktop/order-page-5-1@2x.jpg);
      }
    }
  }

  &2 {
    width: 144px;
    height: 144px;
    background-color: var(--blue);
    border-radius: 0px 0px 0px 72px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
    background-image: url(../images/order/desktop/order-page-5-2.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/order/desktop/order-page-5-2@2x.jpg);
      }
    }
  }

  &3 {
    width: 144px;
    height: 144px;
    background-color: var(--blue);
    border-radius: 72px 0px 72px 0px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
    background-image: url(../images/order/desktop/order-page-5-3.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/order/desktop/order-page-5-3@2x.jpg);
      }
    }
  }

  &4 {
    width: 144px;
    height: 144px;
    background-color: var(--blue);
    border-radius: 0px 72px 0px 72px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
    background-image: url(../images/order/desktop/order-page-5-4.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/order/desktop/order-page-5-4@2x.jpg);
      }
    }
  }

  &5 {
    width: 144px;
    height: 144px;
    background-color: var(--blue);
    border-radius: 72px 72px 72px 72px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
    background-image: url(../images/order/desktop/order-page-5-5.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/order/desktop/order-page-5-5@2x.jpg);
      }
    }
  }

  &6 {
    width: 144px;
    height: 144px;
    background-color: var(--blue);
    border-radius: 0px 0px 72px 0px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
    background-image: url(../images/order/desktop/order-page-5-6.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/order/desktop/order-page-5-6@2x.jpg);
      }
    }
  }
}
