.process-description {
    margin-bottom: 75px;
}

.process-description__item:not(:last-child) {
    margin-bottom: 50px;
}

.process-description__img-container {
    display:flex;
    width: 280px;
    margin-bottom: 16px;
} 

.process-description__text-item:not(:last-child) {
    margin-bottom: 16px;
}

.process-description__text-list {
    margin-bottom: 25px;
}

.process-description__img {
    display: block;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.15));
    border-radius: 50px 0px; 
    
}

.span {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    color: #487996;
}

@media screen and (min-width: 768px) {

   
    .process-description__item {
        display: flex;
    }

    .process-description__img-container {
        margin-right: 20px;
        margin-bottom: 0;
        width: 247px;
    } 

    .process-description__text-list {
        margin-bottom: 50px;
    }

    .process-description__item:not(:last-child) {
        margin-bottom: 75px;
    }

  
}

@media screen and (min-width: 1444px) {

    .process-description__text-item {
        font-size: 18px;
        line-height: 1.27;
    }

   
    .process-description__item {
        margin-bottom: 100px;
    }

    .process-description__img-container {
        margin-right: 80px;
        width: 250px;
    } 

    .process-description__text-item:not(:last-child) {
        margin-bottom: 25px;
    }
}
